body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.pricing-card-active {
    border-color: #4f46e5;
    /* primary-container */
    box-shadow: 0 0 0 2px #4f46e5;
}

.pricing-card {
    transition: all 0.3s ease;
}

.pricing-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}